<main>
    <section class="sabores">
        <h2>Nossos Sabores</h2>
        <div class="card">
            <h3>Sabores Clássicos</h3>
            <p>Aqui você pode escrever os sabores disponíveis, como chocolate, morango, baunilha, napolitano e muito mais!</p>
            <div>
                <ul>
                    <li *ngFor="let s of sabores">
                        Nome do sabor:{{s.nome}} | Tipo: {{s.tipo}}
                        <span *ngIf="s.disponivel" style="color: green;">-Disponivel</span>
                        <span *ngIf="!s.disponivel" style="color: red">-Indisponivel</span>
                    </li>
                </ul>
                
            </div>
        </div>
    </section>
</main>